<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-06-12T21:33:20Z</date>
	<key>WorkspacePath</key>
	<string>../../EQuad.xcodeproj</string>
</dict>
</plist>
