cache: apt
sudo: false

language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

addons:
  apt:
    packages:
    - libatlas-dev
    - libatlas-base-dev
    - liblapack-dev

# blocklist
# Block all /*feature*/ branches
# Anything within /_>/ is treated as a Regex
branches:
  except:
  - /*feature*/

# safelist
# Only Build and Test changes of the master branch
branches:
  only:
  - master
  - develop

before_install:
 - travis_retry wget http://repo.continuum.io/miniconda/Miniconda-3.8.3-Linux-x86_64.sh -O miniconda.sh
 - chmod +x miniconda.sh
 - bash miniconda.sh -b -p $HOME/miniconda
 - export PATH=/home/travis/miniconda/bin:$PATH
 - conda update --yes conda

install:
 - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
 - source activate test
 - conda install --yes numpy scipy matplotlib pip nose
 - pip install cvxpy==1.1.7
 - pip install setuptools
 - python setup.py install
 - pip install coveralls
 - pip install ray

script: coverage run test.py tests/*

after_success:
 coveralls
